@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@keyframes fadin {
  0% {
    transform: translateY(+50%);
  }
  100% {
    transform: translateY(0);
  }
}

.basic-grid {
  padding-top: 130px;
  /* background-color: rgba(247, 247, 247, 0.9); */
    display: grid;
    gap: 1rem;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  
  :root{
    --primary-color: #00cec9;
    --bg-color: #809aa5;
    --text-color: white;
  }
  
  /* body{
    background: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
  } */
  
  .container{
    /* animation: fadin 1s; */

    background: white;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 49px 22px;
    color: var(--primary-color);
   
  }
  
  .container::after{
    content: '';
    background: var(--primary-color);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    clip-path: circle(10% at 0% 0%);           transition: all .3s ease-in;
  }
  
  .content{
    
    position: relative;
    z-index: 1;
    transition: all .3s ease-in;
  }
  
  .container:hover::after{
    clip-path: circle(100%);
  }
  
  .container:hover .content{
    color: var(--text-color);
  }


  .banner{
    margin-top: 70px;
    padding-top: 70px;
    text-align: center;
    font-size: 150%;
    /* background-color: rgba(247, 247, 247, 0.9); */
  }

 