.ImageDesc{
    display: flex ;
    padding-top: 70px;
    height:100vh ;
    width: 100%;
    background:transparent linear-gradient(61deg, #1B1B6F 0%, #285BC5 45%, #3BCFF0 100%) 0% 0% no-repeat padding-box;
    scroll-snap-align: start;
    flex-basis: 0;
    color: white;
    align-items: center;
}
.ImageImage{
  flex: 50%;

display: flex;
  justify-content: center;
}
.ImageCont{
    flex: 50%;
    text-align:center;
    padding-left: 30px;
}
img{
    width: 70vh;
}
p{
    font-size:40px;
    padding-bottom: 100px;
}