.AIDesc{
    display: flex ;
    padding-top: 20px;
    height:100vh ;
    width: 100%;
    background: linear-gradient( 0deg, #383ab5 10%, #5f62d5 29%, #4226ab 60%);
    scroll-snap-align: start;
    flex-basis: 0;
 color: white;
    align-items: center;
}
.AIImage{
  flex: 50%;

display: flex;
  justify-content: center;
}
.AICont{
    flex: 50%;
    text-align:center;
    padding-left: 50px;
}
#aiimg{
    width: 70vh;
}
#aip{
    font-size:40px;
 padding-top: -50px;
}

#AiTools {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  width: 15%;
  padding-top: 4%;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
#AiTools:before {
  height: 0%;
  width: 2px;
}
#AiTools:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

