@keyframes fadeIn { 
    0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  }
  
.loader{
   color: white; 

    animation:fadeIn 0.5s infinite linear;
    
  }

.loader-wrapper{
  
    background: black;
    display: flex;

}
.logoimage{
    width: 40%;
    height: 10%;
}