.PdfDesc{
   /* margin-top: 70px; */
   display: flex ;
   padding-top: 20px;
   height:100vh ;
   width: 100%;
   /* background: transparent linear-gradient(61deg, #1B1B6F 0%, #285BC5 45%, #3BCFF0 100%) 0% 0% no-repeat padding-box;
    */
    /* background: linear-gradient(-45deg, #8805cd, #145bb3, #8805cd, #fe68ff); */
    background:transparent linear-gradient(61deg, #8805cd 0%, #b3143e 45%, #8805cd 100%) 0% 0% no-repeat padding-box;
   scroll-snap-align: start;
   flex-basis: 0;
  color: white;
   align-items: center;

   
}

.PdfImage{
  flex: 50%;

display: flex;
  justify-content: center;
}
.PdfCont{
    flex: 50%;
    text-align:center;
}
#pdfimg{
    width: 70vh;
}
#pdfp{
    font-size:40px;
    padding-top: -50px;
}
.button-pdf {
  padding: 1em 3em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #218;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 60px;
  font-size: 15px;

}

.button-pdf:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-pdf 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-pdf {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-pdf:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #881162;
  left: 0;
  top: 0;
  border-radius: 10px;
}