
@keyframes fadin {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.Intro{
    /* margin-top: 70px; */
    /* animation:fadeIn 1s; */
    /* animation-delay: 0s; */
    padding-top: 70px;
    height:93vh ;
    width: 100%;
    /* background: linear-gradient(-45deg, #8805cd, #3b90f7, #8805cd, #fe68ff); */
    /* background-image: "../../../Assets/Images/background.jpg"; */
    
    scroll-snap-align: start;

    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
 
}
#LIh{
animation: fadin 1s;
  text-align: center;
  font-size: 60px;
  margin-top: -21%;
  font-family: "Titillium Web",sans-serif;
}



