

.Intro{
    /* margin-top: 70px; */
 
    padding-top: 70px;
    height:93vh ;
    width: 100%;
    /* background: linear-gradient(-45deg, #8805cd, #3b90f7, #8805cd, #fe68ff); */
    /* background-image: "../../../Assets/Images/background.jpg"; */
    
    scroll-snap-align: start;

    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
     
}
h1{

  text-align: center;
  font-size: 60px;
  margin-top: -21%;
  font-family: "Titillium Web",sans-serif;
}
