.Footer{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}


footer{
  /* padding-top: 26%; */
  width: 100%;
  background-color: #fff;
  color: #fff;
  padding: 50px 0 30px;
  font-size: 20px;
  line-height: 44px;
height: 100vh;

}
.row{
  padding-top: 10%;
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
.footer_logo{
  width: 80px;
  position: relative;
  top: -23px;
  left: -20px;
}
.footer_about{
  position: relative;

   top: 5px; 
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.footer_email{
  width: fit-content;
  border-bottom: 1px solid #f66335;
  margin: 20px 0;
}
.col ul li{
  list-style: none;
  margin-bottom: 12px;
}
.col ul li a{
  text-decoration: none;
  color: #fff;
}
.col form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f66335;
  margin-bottom: 50px;
}
.col form .icon{
  font-size: 18px;
  margin-right: 10px;
}
.col form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.col form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.col form button .icon_right{
  font-size: 16px;
  color: #ccc;
}
.col .social_icons .social_icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #f66335;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
footer .copyright{
  text-align: center;
}
.bottom_line{
  margin-top: 20px;
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.bottom_line span{
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}
@keyframes moveline{
  0%{
      left:-20px;
  }
  100%{
      left:100%;
  }
}
    