*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background: #0e0d0d;
}